.advantages {
    margin-bottom: 30px;

    &__item {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 14px;

        &:last-child {
            margin-bottom: 0;
        }

        &-icon {
            display: block;
            width: 30px;
            height: 30px;
        }
    }
}