.app {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;

    @media screen and (max-width: 560px) {
        flex-direction: column;
    }

    &__image {
        width: 130px;
        height: auto;

        @media screen and (max-width: 560px) {
            width: 160px;
        }
    }

    &__btn {
        display: block;
        text-decoration: none;
        font-size: 34px;
        font-weight: 700;
        color: #FFFFFF;
        background-color: #789d44;
        border: none;
        border-radius: 5px;
        padding: 10px;
        transition: 0.3s ease;

        &:hover {
            background-color: #5e812d;
        }

        @media screen and (max-width: 560px) {
            width: 100%;
            text-align: center;
        }

        @media screen and (max-width: 480px) {
            font-size: 30px;
        }
    }

    &__label {
        font-size: 20px;
        color: #ada6a1;
        text-transform: uppercase;
    }
}